.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#search-input {
margin-bottom: 10px;

}

#form-heading {
margin-left: 10px;;
}

#weather-header {
    background-image: linear-gradient(to right, rgb(110, 142, 189) , rgb(37, 14, 129));
    padding: 5px;
}

#page-heading {
    font-size: 4vh;
    font-weight: bold;
}

#today {
background-color: brown;
}

#forecast {
background-color: brown;
}