

aside {
    width: 250px
}


.input-group {
    display: flex;
    flex-direction: column;
    width: 250px
}

#search-input {
margin-bottom: 10px;
width: 300px;

}

#form-heading {
margin-left: 10px;
font-weight: bold;
}

#weather-header {
    background-image: linear-gradient(to right, rgb(110, 142, 189) , rgb(37, 14, 129));
    padding: 5px;
    margin-bottom: 20px;
}

#page-heading {
    font-size: 4vh;
    font-weight: bold;
}


#today-header {
    font-size: 5vh;
    font-weight: bold;
}


#forecast-header {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 10px
}

#forecast {
    display: flex;
}

.today-card-body {
    display : flex;
    flex-direction : column;
     margin-right :  15px;
     text-align: left;
     padding: 25px;
     border: solid 1.5px;
     margin-bottom: 20px;
}

.today-card-body h2 {
    font-weight: bold;
    padding-top: 10px;
}

.forecast-card-body {
    display : flex;
    flex-direction : column;
     background-color :  rgba(49,62,78,255);
     color :  white;
     margin-right :  15px;
     text-align: left;
     width: 15rem;
     padding: 25px;
}

#icon {
    width: 7vh;
}

.input-group-append {
    display: flex;
    flex-direction: column;
}

.hr.weather-hr {
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  #clear-button {
    margin: 10px 0px;

  }